@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    background-color: #f5f5dc;
    color: #333333;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gps-title {
    font-size: 2.5rem;
    font-weight: 600;        
    color: #333333;          
    text-align: center;
    margin-bottom: 20px;
  }