@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Font baru untuk keseluruhan situs */
    background-color: #f5f5dc;
    color: #333333;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Gaya untuk tulisan GPS */
  .gps-title {
    font-size: 2.5rem;       /* Membuat tulisan lebih besar */
    font-weight: 600;        /* Tebal agar menonjol */
    color: #333333;          /* Sesuaikan warna dengan tema */
    text-align: center;
    margin-bottom: 20px;
  }